@model CommunityWiki.Models.Articles.ArticleListViewModel
@{
    ViewData["Title"] = (Model.Type?.Name ?? "Articles");
}

@* TODO: only show add/edit if authd *@
<div class="actions clearfix">
    <a asp-action="Create" asp-route-typeId="@Model.Type.Id" class="btn btn-success pull-left">New article</a>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-review-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Review <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a asp-action="Review" asp-route-queue="publish">Publish</a></li>
        </ul>
    </div>
</div>

<div class="article-list">
    @foreach (var article in Model.Articles)
    {
        <div class="row article">
        @if (Model.ArticlesConfig.EnableVoting)
        {
            <div class="col-md-1 score text-center">
                <h3>@article.Score<br /><small>score</small></h3>
            </div>
        }
            <div class="@(Model.ArticlesConfig.EnableVoting ? "col-md-11" : "col-md-12")">
                <h3>
                    <a href="@Url.ViewArticleLink(article.Id, Model.Type.Slug, article.Slug)">@article.Title</a>
                </h3>
                <ul class="list-inline">
                    <li>Updated @article.UpdatedOn.Humanize()</li>
                </ul>
            </div>
        </div>
    }
</div>
