@model CommunityWiki.Models.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9 recent">
        <h3>Recently updated</h3>
        <div class="article-list">
            @foreach (var article in Model.RecentlyUpdated)
            {
                var articleTitle = $"{article.ArticleTypeName}: {article.Title}";
                <div class="row article">
                    <div class="col-md-1 score text-center">
                        <h3>@article.Score</h3>
                    </div>
                    <div class="col-md-11">
                        <h4>
                            <a href="@Url.ViewArticleLink(article.Id, article.Slug)">@articleTitle</a>
                        </h4>
                        <ul class="list-inline">
                            <li><span class="label label-default">@article.ArticleTypeName</span></li>
                            <li>Updated @article.CreatedOn.Humanize()</li>
                        </ul>
                    </div>
                </div>
            }
        </div>

        <h3>Recently created</h3>
        <div class="article-list">
            @foreach (var article in Model.RecentlyCreated)
            {
                <div class="row article">
                    <div class="col-md-1 score text-center">
                        <h3>@article.Score</h3>
                    </div>
                    <div class="col-md-11">
                        <h4>
                            <a href="@Url.ViewArticleLink(article.Id, article.Slug)">@article.Title</a>
                        </h4>
                        <ul class="list-inline">
                            <li><span class="label label-default">@article.ArticleTypeName</span></li>
                            <li>Created @article.UpdatedOn.Humanize()</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 top-types">
        <h4>Top article types</h4>

        <dl>
            @foreach (var type in Model.TopTypes)
            {
                <dt>
                    <a asp-controller="Articles" asp-action="Index" asp-route-typeSlug="@type.ArticleType.Slug">@type.ArticleType.Name</a>
                </dt>
                <dd>@("article".ToQuantity(type.Count))</dd>

            }
        </dl>

    </div>
</div>